/* Global Styles */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header and Footer */
header, footer {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header nav ul, footer nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li, footer nav ul li {
    margin: 0 1em;
}

header nav ul li a, footer nav ul li a {
    color: inherit;
    text-decoration: none;
}

header nav ul li a:hover, footer nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    width: 80%;
    max-width: 1200px;
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* Form Container */
.form-container {
    display: flex;
    justify-content: space-around;
    width: 30%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container label, .form-container input, .form-container button {
    width: 100%;
    margin: 10px 0;
}

.form-container input, .form-container button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Buttons */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    padding: 10px 0;
}